annotated-types==0.6.0
antlr4-python3-runtime==4.13.1
dnspython==2.5.0
email-validator==2.1.0.post1
fhir.resources==6.5.0
fhirpath==0.10.5
fhirpathpy==1.0.0
fhirspec==0.4.0
idna==3.6
isodate==0.6.1
multidict==6.0.5
oauthlib==3.2.2
pydantic==2.6.0
pydantic_core==2.16.1
python-dotenv==1.0.1
six==1.16.0
typing_extensions==4.9.0
yarl==1.9.4
zope.interface==6.1
